# Arquivos de configuração do Visual Studio Code
.vscode/

# Arquivos de configuração do IntelliJ IDEA
.idea/
*.iml
*.iws

# Arquivos de configuração do Eclipse
.project
.classpath
.settings/


# Arquivos e pastas do Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

